/// @group components
/// @name section

.section
  display: flex
  flex-direction: column
  justify-content: center
  position: relative

.section__image
  align-self: center
  max-width: 24vw

  +bp(md-only)
    max-width: 50vw

.section__title
  font-size: 3em
  text-transform: uppercase
  font-weight: 800
  position: relative

  &--highlight
    &:before, &:after
      content: ''
      height: .6em
      width: 2em
      background-color: $color-blue
      border-radius: 3em
      position: absolute
      top: 50%
      transform: translateY(-50%)
      margin: 0 .5em

    &:before
      width: 100vw
      right: 100%

.section__paragraph
  font-size: 1.4em
  color: $dark-grey
  margin-top: 1.2em
  line-height: 1.4
  font-weight: 300

  & + &
    margin-top: 1em

.section__phone
  font-size: 2.4em
  font-weight: 800
  margin-top: 1em

.section__email
  font-size: 2em
  margin-top: .6em

.section__phone,
.section__email,
.section__cta
  position: relative

  &:before,
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 40%
    bottom: -.2em
    left: 0
    background-color: rgba(black, .1)
    transition: .2s

  &:after
    width: 0%
    background-color: rgba($color-blue, .8)
    height: 10%

  &:hover
    &:after
      width: 100%

    &:before
      width: 0%

.section__cta
  margin-top: 4em
  color: $color-blue
  font-size: 1.4em
  font-weight: 800

.section__copyright
  position: absolute
  right: 0
  top: 0
  margin: 5em

  +bp(md-only)
    width: 100%
    text-align: center
    margin: 5em 0

.section__linkedin
  position: absolute
  bottom: 0
  right: 0
  margin: 3em
  width: 2em

  +bp(md)
    margin: 5rem

  .nav--mobile &
    margin-right: 9rem

  &--fixed
    position: fixed
    z-index: 2

.section__scroll
  width: 1em
  height: 1.8em
  position: absolute
  left: 50%
  transform: translateX(-50%)
  border: 3px solid $color-blue
  border-radius: 2em
  bottom: 5em

  +bp(md-only)
    display: none

  &:before
    content: ''
    padding: .2em
    position: absolute
    background-color: $color-blue
    border-radius: 50%
    left: 50%
    top: .3em
    animation: MoveUpDown 2s linear infinite

@keyframes MoveUpDown
  0%, 100%
    transform: translate(-50%, .25em)
  20%
    transform: translate(-50%, 0em)

.section--full
  height: 100vh

.section--white
  background-color: white

  &:before,
  &:after,
    content: ''
    position: absolute
    top: 0
    border-style: solid
    border-width: 15vh 100vw 0 0
    border-color: $soft-grey transparent transparent transparent
    z-index: 1

    +bp(md-only)
      border-top-width: 8vh

  &:after
    top: initial
    bottom: 0
    border-width: 0 0 15vh 100vw
    border-color: transparent transparent $soft-grey transparent

    +bp(md-only)
      border-bottom-width: 8vh

.section--circles
  background-position: center
  background-size: 36%
  background-repeat: no-repeat
