/// @group components
/// @name section

.section
  display: flex
  flex-direction: column
  justify-content: center
  position: relative

.section__image
  align-self: center
  max-width: 24vw

.section__title
  font-size: 3em
  text-transform: uppercase
  font-weight: 800
  position: relative

  &--highlight
    &:before, &:after
      content: ''
      height: .6em
      width: 2em
      background-color: $color-blue
      border-radius: 3em
      position: absolute
      top: 50%
      transform: translateY(-50%)
      margin: 0 .5em

    &:before
      width: 100vw
      right: 100%

.section__paragraph
  font-size: 1.4em
  color: $dark-grey
  margin-top: 2em
  line-height: 1.4
  font-weight: 300

  & + &
    margin-top: 1em

.section__phone
  font-size: 2.4em
  font-weight: 800
  margin-top: 1em

.section__email
  font-size: 2em
  margin-top: .6em

.section__phone,
.section__email,
.section__cta
  position: relative

  &:before,
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 40%
    bottom: -.2em
    left: 0
    background-color: rgba(black, .1)
    transition: .2s

  &:after
    width: 0%
    background-color: rgba($color-blue, .8)
    height: 10%

  &:hover
    &:after
      width: 100%

    &:before
      width: 0%

.section__cta
  margin-top: 4em
  color: $color-blue
  font-size: 1.4em
  font-weight: 800

.section--full
  height: 100vh

  &.section--white
    height: 60vh

.section--white
  background-color: white
  padding: 20vh 0

  &:before,
  &:after,
    content: ''
    position: absolute
    top: 0
    border-style: solid
    border-width: 20vh 100vw 0 0
    border-color: $soft-grey transparent transparent transparent

  &:after
    top: initial
    bottom: 0
    border-width: 0 0 20vh 100vw
    border-color: transparent transparent $soft-grey transparent

.section--circles
  background-position: center
  background-size: 36%
  background-repeat: no-repeat
