.section.section--full
  = image_tag 'eps-logo.svg', class: 'section__logo'

.section.section--full.section--white

.section.section--full

.section.section--full.section--white
/ .section--no-triangle

.section.section--full
